.chat-message-user, .chat-message-robot{
    display: flex;
    align-items: start;
}

.chat-message-robot{
    justify-content: start;
}

.chat-message-user{
    justify-content: end;
}

.chat-message-text{
    background-color: rgb(238,238,238);
    padding: 15px 20px;
    border-radius: 10px;
    margin: 20px 10px;
    margin-top: 0px;
    max-width: 300px;
}

.chat-message-profile{
    width: 45px;
}